html, body {
    height: 100%;
    font-family: 'Krub', sans-serif;
}
body {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
    align-content: center;
    flex-direction: column-reverse;
}

span{
    background-color: rgb(51, 51, 51);
    color: white;
    width: 400px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#titulo {
    font-size: 40px;
    border-radius: 0 0 7px 7px;
    text-align: center;
}

#score {
    order: 3;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px 7px 0 0;
}
